n8n/calendario/calendario_diagnovet++.json
{
  "name": "calendario_diagnovet++",
  "nodes": [
    {
      "parameters": {
        "path": "turnos",
        "options": {}
      },
      "id": "a399eff9-66dc-43f4-a56a-20b2157c287e",
      "name": "Webhook Turnos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -512,
        224
      ],
      "webhookId": "d21a1770-6da7-4869-b316-3be80b202eba"
    },
    {
      "parameters": {},
      "id": "2dd8c230-d61e-4a4a-a6d4-2707f8b3e05d",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -288,
        192
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $json.fecha_hora }}",
        "end": "={{ $json.fecha_hora }}",
        "additionalFields": {}
      },
      "id": "bffe0084-a365-4aaf-97d7-5ef8b490ba38",
      "name": "Google Calendar - Crear",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d5rspaengZxOaNZz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diagnovetprueba@gmail.com",
          "mode": "list",
          "cachedResultName": "diagnovetprueba@gmail.com"
        },
        "start": "2025-09-19T00:00:00",
        "end": "2025-10-31T00:00:00",
        "additionalFields": {}
      },
      "id": "5d1b652f-152d-452a-bd6e-b7856a1fea39",
      "name": "Google Calendar - Modificar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d5rspaengZxOaNZz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diagnovetprueba@gmail.com",
          "mode": "list",
          "cachedResultName": "diagnovetprueba@gmail.com"
        },
        "start": "2025-09-19T00:00:00",
        "end": "2025-09-30T00:00:00",
        "additionalFields": {}
      },
      "id": "77f6bd49-7f36-497e-bbc8-08b1d144050f",
      "name": "Google Calendar - Cancelar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        0,
        368
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d5rspaengZxOaNZz",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@diagnovet.com",
        "toEmail": "={{ $json.email_tutor }}",
        "subject": "Notificación de turno - {{$json.tipo_evento}}",
        "text": "Hola {{$json.tutor}}, tu turno para {{$json.paciente}} ha sido {{$json.tipo_evento}}. Fecha: {{$json.fecha_hora}}.",
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f9fafb;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: #ffffff;\n      border-radius: 10px;\n      border: 1px solid #e5e7eb;\n      padding: 20px;\n      box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n    }\n    .header {\n      text-align: center;\n      padding-bottom: 20px;\n      border-bottom: 2px solid #4caf50;\n    }\n    .header h1 {\n      color: #4caf50;\n      margin: 0;\n    }\n    .content {\n      margin-top: 20px;\n      line-height: 1.6;\n      color: #333333;\n    }\n    .content strong {\n      color: #000;\n    }\n    .footer {\n      margin-top: 30px;\n      font-size: 12px;\n      color: #666666;\n      text-align: center;\n    }\n    .btn {\n      display: inline-block;\n      margin-top: 20px;\n      padding: 12px 20px;\n      background-color: #4caf50;\n      color: #ffffff !important;\n      text-decoration: none;\n      border-radius: 6px;\n      font-weight: bold;\n    }\n    .btn-cancel {\n      background-color: #e53935;\n      margin-left: 10px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>DiagnoVET</h1>\n      <p>Clínica Veterinaria</p>\n    </div>\n    <div class=\"content\">\n      <p>Hola <strong>{{ $json.tutor }}</strong>,</p>\n      <p>\n        Te informamos que tu turno para tu mascota <strong>{{ $json.paciente }}</strong>\n        ha sido <strong>{{ $json.tipo_evento }}</strong>.\n      </p>\n      <p>\n        <strong>Fecha y Hora:</strong> {{ $json.fecha_hora }}<br>\n        <strong>Tipo de consulta:</strong> {{ $json.tipo_consulta }}\n      </p>\n      <p>\n        Por favor llegá con unos minutos de anticipación.\n      </p>\n      <a href=\"https://diagnovet.com/confirmar?turno={{ $json.id }}\" class=\"btn\">Confirmar</a>\n      <a href=\"https://diagnovet.com/cancelar?turno={{ $json.id }}\" class=\"btn btn-cancel\">Cancelar</a>\n    </div>\n    <div class=\"footer\">\n      <p>Este es un mensaje automático de <strong>DiagnoVET</strong>.<br>\n      Clínica Veterinaria - Todos los derechos reservados.</p>\n    </div>\n  </div>\n\n  <script>\n    // ⚠️ Nota: la mayoría de clientes de email bloquean JS\n    function confirmarTurno() {\n      alert(\"Turno confirmado!\");\n    }\n    function cancelarTurno() {\n      alert(\"Turno cancelado!\");\n    }\n  </script>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "41c4862c-f298-469c-b46d-987fc5e125ee",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        256,
        192
      ],
      "credentials": {
        "smtp": {
          "id": "TUj54aX1NbnSWKFP",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://vdvftolwwyprwttfspgx.supabase.co/rest/v1/turno?id=eq.{{$json.id}}\n",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkdmZ0b2x3d3lwcnd0dGZzcGd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMDU2MDksImV4cCI6MjA3Mzg4MTYwOX0.yeB6odiy9g0ZE5lHqSwKIvCZBg--o0IJfcUxNoUCOAM\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkdmZ0b2x3d3lwcnd0dGZzcGd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMDU2MDksImV4cCI6MjA3Mzg4MTYwOX0.yeB6odiy9g0ZE5lHqSwKIvCZBg--o0IJfcUxNoUCOAM\",\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"estado\": \"{{$json.tipo_evento}}\" }",
        "options": {}
      },
      "id": "15ad459c-c305-4bd0-8cf3-4f3b171df27a",
      "name": "Actualizar Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Turnos": {
      "main": [
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "Google Calendar - Crear",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar - Modificar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar - Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Crear": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Modificar": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Cancelar": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Actualizar Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f786fab-6fe7-4a1b-9129-c63d3485049a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4520f3831cd7f9e042c30491ad3d4b92627529ee1de8c6fe9d4eceb94434889"
  },
  "id": "OVhFpCJnkE6qz0JT",
  "tags": []
}